@charset "UTF-8";

.item-buttons {
    font-family: var(--font-family-second);
    display: flex;
    flex-direction: row;
    gap: 0px 25px;
    justify-content: center;
    font-size: 19px;
    margin-top: 20px;
}

.item-buttons.item-apply-buttons {
    justify-content: flex-start;
}

.item-buttons.item-submit-buttons {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.item-buttons.item-submit-buttons .item-link {
    color: var(--point-color-2);
    font-family: var(--font-family-defailt);
    border-bottom: 1px solid var(--point-color-2);
    padding: 5px 0px;
    margin-top: 10px;
    font-size: 16px;
    opacity: 0.8;
}

.item-buttons.item-submit-buttons .item-link:hover {
    opacity: 1;
}

.item-buttons .item-button {
    font-family: var(--font-family-second);
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 235px;
    font-size: var(--font-size-large);
    letter-spacing: 0.8px;
    transition: 0.3s;
}

.item-buttons .item-button:hover {
    filter: brightness(1.1);
    transition: 0.3s;
}

.item-buttons .item-button:active {
    transform: translateY(1px);
}

.item-buttons .item-button.disabled {
    cursor: default;
    opacity: 0.4;
}

.item-buttons .button-default {
    background-color: var(--point-color);
    background-size: contain;
}

.item-buttons .button-small {
    background-color: var(--point-color);
    width: 235px;
    height: 60px;
    font-size: 22px;
}

.item-buttons .button-login {
    background-color: white;
    color: var(--point-color);
    font-size: var(--font-size-large);
    margin: auto;
    margin-top: 90px;
}

.item-buttons .button-apply {
    float: right;
    cursor: pointer;
    padding: 10px;
    width: 280px;
    margin-top: 30px;
    color: white;
    font-size: var(--font-size-large);
    border-radius: 3px;
    letter-spacing: 2px;
    transition: 0.3s;
}

.item-buttons .button-apply:hover {
    filter: brightness(1.1);
    transition: 0.3s;
}

.button-mypage {
    cursor: pointer;
    font-family: var(--font-family-second);
    float: right;
    margin: 10px;
    min-width: 120px;
    height: 30px;
    position: absolute;
    right: 0px;
    top: 0;
    border-radius: 2px;
    font-size: var(--font-size-small);
    color: white;
    vertical-align: middle;
    background-color: var(--button-color-3);
}

.button-mypage:hover {
    filter: brightness(1.1);
}

@media (max-width: 640px) {
    .item-buttons {
        margin-top: 25px;
        gap: 0px 15px;
        flex-direction: column;
    }

    .item-buttons .item-button {
        font-size: var(--font-size-large);
        width: 200px;
        height: 50px;
        padding: 10px 0px;
        color: white;
        display: block;
        margin: auto;
        margin-bottom: 10px;
        letter-spacing: 1px;
        background-color: var(--point-color);
        opacity: 1;
    }

    .item-buttons.flex-start item-button {
        margin: initial;
    }

    .item-buttons .item-button.disabled {
        opacity: 0.4;
    }

    .item-buttons .button-small {
        height: 50px;
    }

    .item-buttons.item-submit-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .item-buttons.item-submit-buttons .item-link {
        display: inline-block;
        color: var(--subtitle-color);
        font-family: var(--font-family-defailt);
        border-bottom: 1px solid var(--subtitle-color);
        padding: 5px 0px;
        margin-bottom: 15px;
        font-size: 14px;
        opacity: 0.9;
    }

    .item-buttons.item-submit-buttons .item-link:hover {
        opacity: 1;
    }

    .item-buttons.item-apply-buttons {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    .button-mypage {
        position: relative;
        float: initial;
        min-width: 100px;
        height: 25px;
        border-radius: 2px;
        display: block;
        margin: auto;
        margin-top: 7px;
    }

    .item-buttons .button-login {
        padding: 0px;
        display: flex;
        background-color: white;
        color: var(--point-color);
        font-size: var(--font-size-large);
        margin: auto;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .dataTables_loadMore {
        margin-top: 10px;
        text-align: center;
    }

    .dataTables_loadMore .button {
        min-width: 80px;
        background-color: #bcd9ea;
        border-radius: 3px;
    }

    .dataTables_loadMore .button span {
        color: #fff;
    }
}
